// ваш код
.header {
  padding: 2.5rem 0 2rem;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.07);
  background-color: var(--bereg-white);
  position: relative;
  transition-property: transform;
  transition-duration: 0.3s;
  z-index: 20;
  @include mobile {
    padding: 2rem 0;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: calc(100% - 1px);
      height: 1.4rem;
      width: 100%;
      background-color: var(--bereg-white);
      mask-image: url("./../img/svg/header-mask.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: left top;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 4;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include mobile {
      display: none;
    }
  }

  & > svg {
    position: absolute;
    top: calc(100% - 1px);
    left: -40rem;
    width: auto;

    @include mobile {
      display: none;
    }
  }

  &__nav {
    @include mobile {
      display: none;
    }
  }
}

.header--fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header--hidden {
  transform: translateY(-200%);
}

.burger {
  @include burger;
  display: none;
  @include mobile {
    display: block;
  }
}
