// ваш код
.header {
  padding: 2.5rem 0 2rem;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.07);
  background-color: var(--bereg-white);
  position: relative;
  transition-property: transform;
  transition-duration: 0.3s;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & > svg {
    position: absolute;
    top: 100%;
    left: 0rem;
    width: auto;
  }
}

.header--fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header--hidden {
  transform: translateY(-200%);
}
