.news-main {
  padding: 12rem 0 16rem;
  @include mobile {
    padding: 7.6rem 0 1.3rem;
  }
  &__title {
    margin-bottom: 8.8rem;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
}
