:root {
  --font-family: "Geist", sans-serif;
  --second-family: "Golos Text", sans-serif;
  --third-family: "Geologica", sans-serif;
  --content-width: 180rem;
  --container-offset: 2rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --bereg-accent: #534cab;
  --bereg-violet: #534cab;
  --bereg-black: #050220;
  --bereg-white: #fefefe;
  --bereg-30black: #fff;
  --grey1: #fefefe;
  --grey2: #fefefe;
  --grey3: #fefefe;
  --grey4: #fefefe;
  --exp: #f7f6ff;
  --btn-hover: #7570bc;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Light.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-size: 0.5208333333vw;
}
@media (min-width: 1920px) {
  .page {
    font-size: 10px;
  }
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 1.6rem;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title-xxl {
  margin: 0;
  font-weight: 600;
  font-size: 10.6rem;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bereg-accent);
}

.title-xml {
  margin: 0;
  font-weight: 600;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bereg-accent);
}

.title-xl {
  margin: 0;
  font-weight: 600;
  font-size: 6rem;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bereg-accent);
}

.title-md {
  margin: 0;
  font-weight: 600;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bereg-black);
}

.subtitle-xl {
  margin: 0;
  font-weight: 500;
  font-size: 3rem;
  line-height: 100%;
  color: var(--bereg-black);
}

.desc1 {
  margin: 0;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 150%;
  color: var(--bereg-black);
}

.desc2 {
  margin: 0;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 150%;
  color: var(--bereg-black);
}

.desc3 {
  margin: 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  color: var(--bereg-black);
}

ul,
ol {
  padding-left: 3.3rem;
}
ul li::marker,
ol li::marker {
  font-size: 75%;
}
ul li:not(:last-child),
ol li:not(:last-child) {
  margin-bottom: 1rem;
}

.link-btn {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media (any-hover: hover) {
  .link-btn:hover {
    color: var(--bereg-accent);
  }
}
.link-btn:focus, .link-btn:focus-visible, .link-btn:active {
  outline: none;
  color: var(--bereg-accent);
}
.link-btn a {
  color: inherit;
}

.back-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 3.8rem;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 120%;
  color: var(--bereg-black);
}
.back-btn svg {
  width: 1.2rem;
  height: 1.8rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  stroke: currentColor;
  fill: none;
}

.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
  padding: 2.3rem 5.1rem;
  background-color: var(--bereg-accent);
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: var(--bereg-white);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.btn_small {
  padding: 1.2rem 3rem 1.1rem;
  font-size: 1.4rem;
}
.btn_masked::after {
  content: "";
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  height: 0.6rem;
  background-color: var(--bereg-accent);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-mask-image: url("./../img/svg/btn-mask.svg");
  mask-image: url("./../img/svg/btn-mask.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: var(--btn-mask-x, 0%) 100%;
  mask-position: var(--btn-mask-x, 0%) 100%;
}
@media (any-hover: hover) {
  .btn_masked:hover::after {
    background-color: var(--btn-hover);
  }
}
.btn_masked:focus::after, .btn_masked:focus-visible::after {
  background-color: var(--btn-hover);
}
.btn_masked:active::after {
  background-color: var(--bereg-accent);
}
.btn_gray {
  background-color: #f9f9f9;
  color: var(--bereg-black);
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: var(--btn-hover);
    color: var(--bereg-white);
  }
}
.btn:focus, .btn:focus-visible {
  outline: none;
  background-color: var(--btn-hover);
  color: var(--bereg-white);
}
.btn:active {
  background-color: var(--bereg-accent);
  color: var(--bereg-white);
}
.btn:disabled {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.btn_masked:disabled::after {
  background-color: #e5e5e5;
}

.soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  position: relative;
}
.soc svg,
.soc img {
  display: block;
  width: 100%;
  height: 100%;
}
.soc::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--btn-hover);
  mix-blend-mode: lighten;
  opacity: 0;
  -webkit-transition-property: opacity, background-color;
  transition-property: opacity, background-color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media (any-hover: hover) {
  .soc:hover::after {
    opacity: 1;
  }
}
.soc:focus, .soc:focus-visible {
  outline: none;
}
.soc:focus::after, .soc:focus-visible::after {
  opacity: 1;
}
.soc:active::after {
  background-color: var(--bereg-accent);
  opacity: 1;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.1rem;
  width: 23.5rem;
  position: relative;
  height: 3.7rem;
  font-weight: 600;
  font-size: 3.1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bereg-black);
}
.logo svg {
  display: block;
  width: 2.9rem;
  fill: currentColor;
  -webkit-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}
@media (any-hover: hover) {
  .logo:hover svg {
    fill: var(--bereg-accent);
  }
}
.logo:focus, .logo:focus-visible {
  outline: none;
}
.logo:focus svg, .logo:focus-visible svg {
  fill: var(--bereg-accent);
}
.logo:active svg {
  fill: var(--btn-hover);
}

.pagination {
  --swiper-pagination-color: var(--bereg-white);
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  --swiper-pagination-bullet-inactive-color: var(--bereg-white);
  --swiper-pagination-bullet-width: 1.1rem;
  --swiper-pagination-bullet-height: 1.1rem;
  --swiper-pagination-bullet-horizontal-gap: 0.5rem;
  position: static;
  width: auto !important;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
  position: absolute;
  z-index: 4;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 4rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.control_dark {
  background: none;
}
.control_dark .control-btn svg {
  stroke: var(--bereg-black);
}
.control_dark .pagination {
  --swiper-pagination-color: var(--bereg-black);
  --swiper-pagination-bullet-inactive-color: var(--bereg-black);
}

.control-btn {
  width: 1.5rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
}
.control-btn::before {
  content: "";
  position: absolute;
  inset: -2rem;
}
.control-btn svg {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--bereg-white);
  stroke-width: 0.3rem;
  -webkit-transition-property: stroke;
  transition-property: stroke;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.control-btn_next {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media (any-hover: hover) {
  .control-btn:hover svg {
    stroke: var(--bereg-accent);
  }
}
.control-btn:focus, .control-btn:focus-visible {
  outline: none;
}
.control-btn:focus svg, .control-btn:focus-visible svg {
  stroke: var(--bereg-accent);
}
.control-btn:active svg {
  stroke: var(--btn-hover);
}

#suggestions {
  border: 1px solid #ccc;
  max-height: 200px;
  left: 0;
  margin-top: -2rem;
  overflow-y: auto;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1000;
  border-radius: 1rem;
  scrollbar-width: thin;
  background: white;
}

.suggestion-item {
  padding: 8px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  color: var(--black);
  cursor: pointer;
}
.suggestion-item.active {
  background-color: #f0f0f0;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

[class*=copyrights-pane] {
  display: none !important;
}

.content {
  font-weight: 300;
  font-size: 2rem;
  line-height: 150%;
  color: #000;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 700;
  margin-bottom: 2.4rem;
  line-height: 1.2;
}
.content h1 {
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
}
.content time {
  font-size: 1.6rem;
  color: #888;
  float: right;
  margin-bottom: 2.4rem;
  display: block;
}
.content p,
.content ul,
.content ol {
  font-weight: 300;
  font-size: 2rem;
  line-height: 150%;
  color: #000;
}
.content ul,
.content ol {
  padding-left: 2.4rem;
}
.content li {
  margin-bottom: 1rem;
}
.content figure {
  margin: 0;
  margin-top: 10rem;
}
.content figure:not(:last-child) {
  margin-bottom: 10rem;
}
.content figure img,
.content figure video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1.2rem;
  -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  background: #eee;
}
.content figure video {
  background: #000;
  min-height: 320px;
  position: relative;
}
.content figure video,
.content figure iframe {
  max-width: 128rem;
  margin: 0 auto;
  aspect-ratio: 16/9;
}
.content video[poster] {
  position: relative;
  cursor: pointer;
}
.content video::-webkit-media-controls {
  opacity: 1 !important;
}

.header {
  padding: 2.5rem 0 2rem;
  -webkit-box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.07);
  background-color: var(--bereg-white);
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.header > svg {
  position: absolute;
  top: 100%;
  left: 0rem;
  width: auto;
}

.header--fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header--hidden {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
}
.nav ul li a {
  margin: 0;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 120%;
  color: var(--bereg-black);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media (any-hover: hover) {
  .nav ul li a:hover {
    color: var(--bereg-accent);
  }
}
.nav ul li a:focus, .nav ul li a:focus-visible, .nav ul li a:active {
  outline: none;
  color: var(--bereg-accent);
}

.hero {
  padding: 8.2rem 0;
}
.hero__title {
  margin-bottom: 1.2rem;
}
.hero__container {
  position: relative;
  height: 60rem;
}
.hero__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("./../img/hero-mask.svg");
  mask-image: url("./../img/hero-mask.svg");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
.hero__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.hero__desc {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.hero__desc_top-left {
  left: 1rem;
  top: -0.4rem;
  max-width: 69.5rem;
}
.hero__desc_bottom-right {
  right: 1.2rem;
  bottom: 0.6rem;
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.about {
  padding: 16.8rem 0 8.2rem;
}
.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.about__content {
  height: 100%;
  position: relative;
}
.about__right {
  min-width: 0;
  max-width: 100%;
}
.about__text {
  height: 100%;
  position: relative;
  padding: 9.2rem 10rem;
  background-color: var(--bereg-white);
}
.about__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(100% - 1px);
  height: 3.5rem;
  width: 100%;
  background-image: url("./../img/svg/about-figure.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.about__title {
  margin-bottom: 3.3rem;
}
.about__slider {
  min-width: 0;
  max-width: 100%;
  height: 100%;
  height: 59.7rem;
}
.about__slide img {
  width: 100%;
  height: 100%;
}
.about__desc p {
  margin: 0;
}
.about__desc p:not(:last-child) {
  margin-bottom: 1em;
}
.about__wave {
  position: absolute;
  top: 100%;
  left: 0rem;
  width: auto;
  height: 3.2rem;
}

.benefits {
  padding: 5.3rem 0 5rem;
}
.benefits__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.ben-item {
  position: relative;
  background-color: var(--bereg-white);
  height: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6rem;
}
.ben-item__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.ben-item__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.ben-item span {
  display: block;
}
.ben-item__text {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 100%;
  color: var(--bereg-accent);
  max-width: 27rem;
}
.ben-item__fig {
  white-space: nowrap;
  font-weight: 600;
  font-size: 14.4rem;
  line-height: 90%;
}
.ben-item_figure::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: calc(100% - 1px);
  height: 3.5rem;
  width: 100%;
  background-image: url("./../img/svg/ben-figure.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.ben-item_figure-bottom::after {
  top: calc(100% - 1px);
  -webkit-transform: rotateY(180deg) rotateX(180deg);
  transform: rotateY(180deg) rotateX(180deg);
}

.place {
  margin-top: 4.7rem;
  padding: 15rem 0;
}
@media (max-width: 576px) {
  .place {
    margin-bottom: 7.35rem;
  }
}
.place__title {
  margin-bottom: 4rem;
}
.place__map {
  max-width: calc(192rem + var(--container-offset) * 2);
  padding: 0 var(--container-offset);
  margin: 0 auto;
  height: 70rem;
  background-color: #ccc;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: url("./../img/map-mask.svg");
  mask-image: url("./../img/map-mask.svg");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
@media (max-width: 576px) {
  .place__map {
    height: 89.6rem;
  }
}
.place__content {
  position: absolute;
  z-index: 10;
  top: 8.3rem;
  left: 6rem;
  bottom: 8.3rem;
}
@media (max-width: 576px) {
  .place__content {
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.place-content {
  width: 42rem;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.07);
  overflow: hidden;
}
@media (max-width: 576px) {
  .place-content {
    -webkit-mask: none;
    mask: none;
    width: 100%;
  }
}
.place-content__img {
  width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .place-content__img {
    display: none;
  }
}
.place-content__img img {
  width: 100%;
  height: auto;
}
.place-content__content {
  padding: 4rem;
  padding-top: 3.2rem;
}
@media (max-width: 576px) {
  .place-content__content {
    padding: 4rem 4.2rem;
    padding-bottom: 3.5rem;
  }
}
.place-content__address {
  margin: 0;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  color: var(--black);
}
.place-content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.place-content__btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem;
}

.place-form {
  margin-bottom: 2rem;
  position: relative;
}
@media (max-width: 576px) {
  .place-form {
    margin-bottom: 1rem;
  }
}
.place-form__input {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  height: 6rem;
  padding: 2rem 3rem;
  border: none;
  background-color: #f9f9f9;
  font-weight: 300;
  font-size: 2rem;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.25);
}
@media (max-width: 576px) {
  .place-form__input {
    height: 6rem;
    margin-bottom: 1.2rem;
    padding-left: 1.8rem;
    padding-bottom: 0.9rem;
  }
}
.place-form__input::-webkit-input-placeholder {
  color: var(--base-grey);
}
.place-form__input::-moz-placeholder {
  color: var(--base-grey);
}
.place-form__input:-ms-input-placeholder {
  color: var(--base-grey);
}
.place-form__input::-ms-input-placeholder {
  color: var(--base-grey);
}
.place-form__input::placeholder {
  color: var(--base-grey);
}
.place-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.place--sec {
  margin-bottom: 20rem;
}
@media (max-width: 576px) {
  .place--sec {
    margin-bottom: 17.5rem;
  }
}

.more {
  padding: 10rem 0;
}
.more__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 9.2rem;
}
.more__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
}
.more__btn {
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: var(--bereg-white);
}
.more__btn svg {
  width: 1.2rem;
  height: 2rem;
  stroke: #050220;
}
.more__btn--next {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.more__slider {
  padding: 0 calc((100% - var(--content-width)) / 2);
}
.more__slider .swiper-slide:nth-child(even) .more-item__img {
  -webkit-mask-image: url("./../img/svg/more-mask-2.svg");
  mask-image: url("./../img/svg/more-mask-2.svg");
  -webkit-mask-position: top;
  mask-position: top;
}
.more__slider .swiper-slide:nth-child(even) .more-item__content {
  margin-top: auto;
}

.more-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  height: 58rem;
}
.more-item__img {
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-mask-image: url("./../img/svg/more-mask-1.svg");
  mask-image: url("./../img/svg/more-mask-1.svg");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.more-item__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.more-item__content {
  height: 55rem;
  padding: 9.2rem 9.6rem;
  background-color: var(--bereg-white);
}
.more-item__title {
  margin-bottom: 3.2rem;
}
.more-item__desc p {
  margin: 0;
}
.more-item__desc p:not(:last-child) {
  margin-bottom: 1em;
}

.more-info {
  padding: 15.5rem 0;
}
.more-info__container {
  max-width: calc(192rem + var(--container-offset) * 2);
  position: relative;
  padding: 8rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.more-info__content {
  padding: 5.5rem 6rem;
  background-color: var(--bereg-white);
  min-width: 73.2rem;
}
.more-info__title {
  max-width: 57rem;
  margin: 0 auto;
  margin-bottom: 3.6rem;
}
.more-info__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-mask-image: url("./../img/svg/more-info-mask.svg");
  mask-image: url("./../img/svg/more-info-mask.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  min-height: 48.6rem;
}
.more-info__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.more-info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1.6rem 1rem 1.4rem;
  position: relative;
}
.more-info__btn::after {
  width: 23.7%;
  height: 0.8rem;
  -webkit-mask-image: url("./../img/svg/more-btn-mask.svg");
  mask-image: url("./../img/svg/more-btn-mask.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: top;
  mask-position: top;
}

.comfort {
  padding: 14rem 0;
}
.comfort__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 9rem;
}
.comfort__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.comfort-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 36rem;
  height: auto;
}
.comfort-item__img {
  position: relative;
  -webkit-mask-image: url("./../img/svg/comfort-mask-1.svg");
  mask-image: url("./../img/svg/comfort-mask-1.svg");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
  mask-position: bottom;
}
.comfort-item__img::before {
  content: "";
  padding-top: 38%;
  display: block;
}
.comfort-item__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.comfort-item__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 3.9rem 4.3rem;
  background-color: var(--bereg-white);
}
.comfort-item__fig {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 3rem;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--bereg-accent);
}
.comfort-item:nth-child(2) .comfort-item__img, .comfort-item:nth-child(4) .comfort-item__img, .comfort-item:nth-child(5) .comfort-item__img, .comfort-item:nth-child(7) .comfort-item__img, .comfort-item:nth-child(9) .comfort-item__img, .comfort-item:nth-child(11) .comfort-item__img, .comfort-item:nth-child(12) .comfort-item__img, .comfort-item:nth-child(14) .comfort-item__img, .comfort-item:nth-child(16) .comfort-item__img, .comfort-item:nth-child(18) .comfort-item__img {
  -webkit-mask-image: url("./../img/svg/comfort-mask-2.svg");
  mask-image: url("./../img/svg/comfort-mask-2.svg");
}

.possible {
  padding: 10.8rem 0;
}
.possible__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 9.1rem;
}
.possible__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 4rem;
}
.possible__slider {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
  width: 100%;
  height: 100%;
  min-width: 0;
  max-width: 100%;
  background-color: var(--bereg-white);
  position: relative;
}
.possible__slider::after {
  content: "";
  position: absolute;
  top: calc(100% - 1px);
  right: 0;
  height: 3rem;
  width: 100%;
  background-image: url("./../img/svg/possible-mask-bottom.svg");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}
.possible__slider_sec {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
.possible__slider_sec::after {
  content: "";
  position: absolute;
  top: unset;
  bottom: calc(100% - 1px);
  right: 0;
  height: 3.15rem;
  width: 100%;
  background-image: url("./../img/svg/possible-mask.svg");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.possible__slider .swiper {
  width: 100%;
  min-width: 0;
  height: 100%;
  max-width: 100%;
}
.possible__control {
  padding: 6rem 5.8rem;
}
.pos-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 12rem 6rem;
  padding-top: 5.7rem;
}
.pos-item__capture {
  margin: 0;
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 100%;
  color: #000;
}
.pos-item__img {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pos-item__img img {
  display: block;
  width: auto;
  height: 100%;
  max-height: 41.3rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.faq {
  padding: 14rem 0;
}
.faq__title {
  margin-bottom: 9rem;
}
.faq__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.faq__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4rem;
}

.faq-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4.3rem 5rem;
  background-color: var(--bereg-white);
  -webkit-transition: min-height 0.3s ease;
  transition: min-height 0.3s ease;
  will-change: min-height;
}
.faq-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
}
@media (any-hover: hover) {
  .faq-item__header:hover .faq-item__btn svg {
    stroke: var(--bereg-accent);
  }
}
.faq-item__capture {
  color: var(--bereg-black);
  text-align: left;
}
.faq-item__btn {
  width: 2.8rem;
  height: 1.6rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.faq-item__btn svg {
  width: 100%;
  height: 100%;
  stroke: #040404;
  -webkit-transition: stroke 0.3s ease-in;
  transition: stroke 0.3s ease-in;
}
.faq-item__content {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.faq-item__text {
  padding-top: 4rem;
  color: var(--bereg-black);
  font-size: 2rem;
}
.faq-item__text p {
  margin: 0;
}
.faq-item__text p:not(:last-child) {
  margin-bottom: 1em;
}
@media (max-width: 576px) {
  .faq-item {
    padding: 3rem 2rem;
  }
  .faq-item__text {
    padding-top: 2rem;
    font-size: 1.8rem;
  }
}
.faq-item.open .faq-item__btn svg {
  stroke: var(--bereg-accent);
}

.choice {
  padding: 14.2rem 0;
}
.choice__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.choice__content {
  background-color: var(--bereg-white);
  padding: 9.5rem 10rem;
  padding-bottom: 6.5rem;
  position: relative;
}
.choice__content::after {
  content: "";
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  height: 3.6rem;
  background-color: var(--bereg-white);
  -webkit-mask-image: url("./../img/svg/choice-mask.svg");
  mask-image: url("./../img/svg/choice-mask.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: top left;
  mask-position: top left;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.choice__title {
  margin-bottom: 3rem;
}
.choice__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 2rem;
  padding-top: 1.7rem;
  padding-bottom: 1.3rem;
}
.choice__btn::after {
  width: 20%;
}
.choice__desc {
  margin-bottom: 4.1rem;
}
.choice__desc p {
  margin: 0;
}
.choice__desc p:not(:last-child) {
  margin-bottom: 1em;
}
.choice__img {
  position: relative;
}
.choice__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.news {
  padding: 16.5rem 0;
}
.news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 9rem;
}
.news__subtitle {
  color: var(--bereg-black);
}
.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4rem;
  margin-bottom: 4rem;
}
.news__link {
  padding-top: 1.8rem;
  padding-bottom: 1.3rem;
  min-width: 29rem;
}

.news-item {
  width: calc((100% - 2 * 4rem) / 3);
  position: relative;
}
.news-item__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.news-item__img {
  position: relative;
  -webkit-mask-image: url("./../img/svg/news-mask.svg");
  mask-image: url("./../img/svg/news-mask.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
}
.news-item__img::before {
  content: "";
  display: block;
  padding-top: 52.5%;
}
.news-item__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.news-item__info {
  position: relative;
  padding: 3.9rem 4.3rem;
}
.news-item__info::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 120%;
  width: 100%;
  background-color: var(--bereg-white);
  z-index: -1;
}

.cta {
  padding: 9.5rem 0;
  padding-bottom: 15.4rem;
}
.cta__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.cta__content {
  padding: 9.2rem 10rem 10rem;
  background-color: var(--bereg-white);
}
.cta__title {
  margin-bottom: 3.4rem;
}
.cta__desc {
  margin: 0;
  font-weight: 400;
  margin-bottom: 4rem;
}
.cta__form {
  margin-bottom: 4.8rem;
}
.cta__extra {
  font-style: normal;
  font-weight: 400;
}
.cta__extra p {
  margin: 0;
}
.cta__extra a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.cta__map {
  background-color: #ccc;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  --gap: -0.5rem;
}
@media (max-width: 576px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.form__field {
  display: block;
  width: 100%;
  position: relative;
}
.form__field:not(:last-child) {
  margin-bottom: 1rem;
}
@media (any-hover: hover) {
  .form__field:hover input:not(:disabled) ~ .form__label {
    color: rgba(0, 0, 0, 0.45);
  }
}
.form__field-wrapper {
  height: 6rem;
  position: relative;
  outline: 2px solid transparent;
  padding: 1.5rem 3rem;
  background-color: #fafafa;
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
  overflow: hidden;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, outline-color 0.3s ease-in;
  transition: color 0.3s ease-out, background-color 0.3s ease-out, outline-color 0.3s ease-in;
}
.form__field-wrapper--area {
  height: 14rem;
}
.form__field.filled .form__label {
  font-size: 1.4rem;
  -webkit-transform: translateY(var(--gap));
  -ms-transform: translateY(var(--gap));
  transform: translateY(var(--gap));
}
.form__field.filled .form__input {
  -webkit-transform: translateY(-32%);
  -ms-transform: translateY(-32%);
  transform: translateY(-32%);
}
.form__field.filled .form__input--area {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.form__field.focus .form__field-wrapper {
  outline-color: #000;
  background-color: #fff;
}
.form__field.focus .form__label {
  background-color: #fff;
}
.form__label {
  position: absolute;
  z-index: 4;
  background-color: #fafafa;
  width: 100%;
  top: 0;
  padding-top: 1.4rem;
  left: 3rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  -webkit-transition: font-size 0.3s ease-in, background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: font-size 0.3s ease-in, background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, font-size 0.3s ease-in, background-color 0.3s ease-in;
  transition: transform 0.3s ease-in, font-size 0.3s ease-in, background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.form__input {
  display: block;
  position: absolute;
  padding: 1.5rem 3rem;
  height: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  border: none;
  background: none;
  -webkit-transition: background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, background-color 0.3s ease-in;
  transition: transform 0.3s ease-in, background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.form__input:focus {
  outline: none;
  -webkit-transform: translateY(-32%);
  -ms-transform: translateY(-32%);
  transform: translateY(-32%);
}
.form__input:focus ~ .form__label {
  font-size: 1.4rem;
  -webkit-transform: translateY(var(--gap));
  -ms-transform: translateY(var(--gap));
  transform: translateY(var(--gap));
}
.form__input:disabled {
  cursor: not-allowed;
  -ms-touch-action: none;
  touch-action: none;
  background-color: #e3e6e6;
}
.form__input--area {
  height: 100%;
  resize: none;
  top: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  padding-top: 3rem;
}
.form__input--area:focus {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1.7rem 1rem 1.4rem;
}
.form__btn::after {
  width: 22%;
}

.footer {
  padding-bottom: 6rem;
  padding-top: 5.6rem;
  background-color: var(--bereg-white);
  position: relative;
}
.footer > svg {
  position: absolute;
  right: 30rem;
  bottom: calc(100% - 1px);
  width: 100%;
  height: 3.6rem;
}
@media (max-width: 576px) {
  .footer {
    -webkit-box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.05);
    background: var(--white);
    padding: 3rem 0;
    padding-bottom: 15rem;
    border-radius: 30px 30px 0 0;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 6rem;
}
@media (max-width: 576px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4.7rem;
  }
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.8rem;
}
.footer__capture {
  margin-bottom: 3rem;
}
@media (max-width: 576px) {
  .footer__col:nth-child(2) {
    display: none;
  }
}
.footer__map {
  height: 21.6rem;
  background-color: #ccc;
  overflow: hidden;
}
@media (max-width: 576px) {
  .footer__map {
    height: 22rem;
  }
}
.footer__right {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .footer__right {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .footer__block {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
  }
}
.footer__block small {
  display: block;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: var(--black);
}
.footer__block small:not(:last-child) {
  margin-bottom: 0.4rem;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.3rem;
}
.footer__nav .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1.5rem;
}
.footer__nav .nav__link {
  font-weight: 500;
}

.footer-add {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem 2.1rem;
  max-width: 55rem;
}
.footer-add:not(:last-child) {
  margin-bottom: 4rem;
}
.footer-add__link {
  margin: 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  color: var(--black);
}

.gallery {
  padding: 12rem 0 16rem;
}
.gallery__title {
  margin-bottom: 8.8rem;
}
.gallery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.g-item {
  position: relative;
  height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: var(--bereg-white);
}
.g-item__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  max-width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.g-item__img {
  position: relative;
}
.g-item__img::before {
  content: "";
  display: block;
  padding-top: 59.9%;
}
.g-item__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.g-item__content {
  position: relative;
  z-index: 5;
  background-color: var(--bereg-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2.9rem 6rem;
  padding-bottom: 2.7rem;
}
.g-item__content::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(100% - 1px);
  width: 100%;
  height: 2rem;
  background-color: var(--bereg-white);
  -webkit-mask-image: url("./../img/svg/gallery-mask.svg");
  mask-image: url("./../img/svg/gallery-mask.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left bottom;
  mask-position: left bottom;
}
.g-item__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.8rem;
}
.g-item__arr {
  color: var(--bereg-black);
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.g-item__arr svg {
  width: 2rem;
  height: 3rem;
  stroke: currentColor;
  stroke-width: 2px;
  fill: none;
}
.g-item__arr_right {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media (any-hover: hover) {
  .g-item__arr:hover {
    color: var(--btn-hover);
  }
}
.g-item__arr:focus {
  outline: none;
  color: var(--btn-hover);
}
.g-item__arr:active {
  color: var(--bereg-accent);
}
.g-item:nth-child(4n+2) .g-item__content::before, .g-item:nth-child(4n+3) .g-item__content::before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.news-main {
  padding: 12rem 0 16rem;
}
.news-main__title {
  margin-bottom: 8.8rem;
}
.news-main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4rem;
}

.single {
  padding: 12rem 0 16rem;
}
.single__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
.single__title {
  margin: 0;
  font-weight: 600;
  font-size: 5rem;
  line-height: 120%;
  color: #000;
}
.single__time {
  display: block;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;
  color: #000;
}
.single__content {
  -ms-grid-column-span: 10;
  grid-column: 10 span;
}
.single__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.building {
  padding: 12rem 0 16rem;
}
.building__title {
  margin-bottom: 8.8rem;
}
.building__items .g-item:nth-child(3n+1) .g-item__content::before, .building__items .g-item:nth-child(3n+2) .g-item__content::before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.building__items .g-item:nth-child(4n+1) .g-item__content::before, .building__items .g-item:nth-child(4n+2) .g-item__content::before {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.building__content {
  background-color: var(--bereg-white);
  padding: 9.3rem 10rem;
  padding-right: 9.5rem;
  padding-bottom: 5rem;
  margin-bottom: 9.8rem;
  position: relative;
}
.building__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(100% - 1px);
  background-color: var(--bereg-white);
  height: 3.5rem;
  width: 100%;
  -webkit-mask-image: url("./../img/svg/building-mask.svg");
  mask-image: url("./../img/svg/building-mask.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: left top;
  mask-position: left top;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.building__capture {
  margin-bottom: 3.4rem;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.contacts {
  padding: 12rem 0;
}
.contacts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 9rem;
}
.contacts__btn {
  padding: 1.5rem 4.5rem;
}
.contacts__content {
  padding: 9.7rem 10rem;
}
.contacts__row {
  background-color: var(--bereg-white);
  min-height: 37.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.contacts__row:not(:last-child) {
  margin-bottom: 4rem;
}
.contacts__capture {
  margin-bottom: 3.7rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.03em;
}
.contacts__address {
  font-style: normal;
  font-weight: 400;
}
.contacts__address p {
  margin: 0;
}
.contacts__address a {
  color: inherit;
}/*# sourceMappingURL=main.css.map */
