<section class="about">
  <div class="container">
    <div class="about__container">
      <div class="about__content">
        <div class="about__text">
          <h2 class="title-xl about__title">О&nbsp;проекте</h2>
          <div class="desc2 about__desc">
            <p>
              Жилой комплекс "Береговой" — это&nbsp;современное пространство
              для&nbsp;жизни, где&nbsp;гармонично сочетаются стиль, комфорт
              и&nbsp;уникальная архитектура. 16-этажный дом, выполненный
              по&nbsp;технологии железобетонного монолита, предлагает
              187&nbsp;просторных квартир с&nbsp;продуманными планировками,
              обеспечивающими максимальную полезную площадь и&nbsp;создающими
              ощущение простора и&nbsp;уюта.
            </p>
          </div>
        </div>
      </div>

      <div class="about__right">
        <div class="about__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="about__slide">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about__slide">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about__slide">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about__slide">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about__slide">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="control">
            <div class="control-btn control-btn_prev about-prev">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </div>
            <div class="pagination about-pagination"></div>
            <div class="control-btn control-btn_next about-next">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
