<section class="benefits">
  <div class="container">
    <h2 class="benefits__title visually-hidden">title</h2>
    <div class="benefits__items">
      <div class="benefits__item ben-item">
        <div class="ben-item__text">
          <span class="ben-item__fig">16</span>
          <span class="ben-item__text">этажей</span>
        </div>

        <div class="ben-item__img">
          <picture>
            <source
              srcset="./img/benefits/01-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/benefits/01.webp"
              class="image"
              width="880"
              height="320"
              alt=""
            />
          </picture>
        </div>
      </div>
      <div class="benefits__item ben-item ben-item_figure">
        <div class="ben-item__text">
          <span class="ben-item__fig">187</span>
          <span class="ben-item__text">квартир</span>
        </div>

        <div class="ben-item__img">
          <picture>
            <source
              srcset="./img/benefits/02-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/benefits/02.webp"
              class="image"
              width="880"
              height="320"
              alt=""
            />
          </picture>
        </div>
      </div>
      <div
        class="benefits__item ben-item ben-item_figure ben-item_figure-bottom"
      >
        <div class="ben-item__text">
          <span class="ben-item__text">до</span>
          <span class="ben-item__fig">79,7</span>
          <span class="ben-item__text">квадратных метров</span>
        </div>

        <div class="ben-item__img">
          <picture>
            <source
              srcset="./img/benefits/03-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/benefits/03.webp"
              class="image"
              width="880"
              height="320"
              alt=""
            />
          </picture>
        </div>
      </div>
      <div class="benefits__item ben-item">
        <div class="ben-item__text">
          <span class="ben-item__fig">104</span>
          <span class="ben-item__text">парковочных мест</span>
        </div>

        <div class="ben-item__img">
          <picture>
            <source
              srcset="./img/benefits/04-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/benefits/04.webp"
              class="image"
              width="880"
              height="320"
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
