<section class="building">
  <div class="container">
    <a href="#" class="back-btn link-btn">
      <svg class="">
        <use xlink:href="img/sprite.svg#arr-back"></use>
      </svg>

      Назад
    </a>

    <h1 class="title-xml building__title">Ход строительства</h1>

    <div class="gallery__items">
      <div class="building__content">
        <p class="building__capture subtitle-xl">
          На&nbsp;ЖК&nbsp;Береговой строительство дома идет по&nbsp;графику
          и&nbsp;на&nbsp;данный момент года выполнены следующие основные виды
          работ:
        </p>
        <div class="desc2 building__desc">
          <ul>
            <li>
              Произведены работы по устройству котлована, отсыпке и укреплению
              основания под заливку бетонной плиты.
            </li>
            <li>
              Выполнен фундамент на бетонной подушке из монолитной
              железобетонной плиты толщиной 800 мм (из бетона класса В25).
            </li>
            <li>
              Обеспечена защита фундамента в грунте и стен технического этажа
              при помощи многослойной рулонной гидроизоляции.
            </li>
          </ul>
        </div>
      </div>

      <div class="gallery__item g-item">
        <div class="g-item__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/building/01-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/building/01.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/building/01-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/building/01.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="g-item__content">
          <p class="g-item__capture desc1">Июль 2025</p>

          <div class="g-item__control">
            <button class="btn-reset g-item__arr g-item__arr_left">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
            <button class="btn-reset g-item__arr g-item__arr_right">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="gallery__item g-item">
        <div class="g-item__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/building/02-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/building/02.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/building/02-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/building/02.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="g-item__content">
          <p class="g-item__capture desc1">Май 2025</p>

          <div class="g-item__control">
            <button class="btn-reset g-item__arr g-item__arr_left">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
            <button class="btn-reset g-item__arr g-item__arr_right">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
