<section class="choice">
  <div class="container">
    <div class="choice__container">
      <div class="choice__content">
        <h2 class="title-xl choice__title">
          выберите<br />
          то,&nbsp;что&nbsp;вам по&nbsp;вкусу
        </h2>
        <div class="desc2 choice__desc">
          <p>
            Текст про квартиры — это&nbsp;современное пространство
            для&nbsp;жизни, где&nbsp;гармонично сочетаются стиль, комфорт
            и&nbsp;уникальная архитектура. 16-этажный дом, выполненный
            по&nbsp;технологии железобетонного монолита, предлага.
          </p>
        </div>
        <button class="btn btn-reset btn_small choice__btn btn_masked">
          Выбрать квартиру
        </button>
      </div>
      <div class="choice__img">
        <picture>
          <source
            srcset="./img/choice-mob.webp"
            media="(max-width: 600px)"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/choice.webp"
            class="image"
            width="900"
            height="597"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
