<section class="comfort">
  <div class="container">
    <div class="comfort__header">
      <h2 class="title-xl comfrot__title">Комфорт на брегу залива</h2>
      <div class="comfort__label subtitle-xl">Преимущества</div>
    </div>

    <div class="comfort__items">
      <div class="comfort__item comfort-item">
        <div class="comfort-item__img">
          <picture>
            <source
              srcset="./img/comfort/01-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/comfort/01.webp"
              class="image"
              width="420"
              height="160"
              alt=""
            />
          </picture>
        </div>
        <div class="comfort-item__content">
          <div class="comfort-item__fig">01</div>
          <div class="comfort-item__desc desc3">
            Продуманные планировки квартир с большой полезной площадью
          </div>
        </div>
      </div>

      <div class="comfort__item comfort-item">
        <div class="comfort-item__img">
          <picture>
            <source
              srcset="./img/comfort/02-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/comfort/02.webp"
              class="image"
              width="420"
              height="160"
              alt=""
            />
          </picture>
        </div>
        <div class="comfort-item__content">
          <div class="comfort-item__fig">02</div>
          <div class="comfort-item__desc desc3">
            Возможность объединения квартир.
          </div>
        </div>
      </div>

      <div class="comfort__item comfort-item">
        <div class="comfort-item__img">
          <picture>
            <source
              srcset="./img/comfort/03-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/comfort/03.webp"
              class="image"
              width="420"
              height="160"
              alt=""
            />
          </picture>
        </div>
        <div class="comfort-item__content">
          <div class="comfort-item__fig">03</div>
          <div class="comfort-item__desc desc3">
            Железобетонный монолит&nbsp;&mdash; надёжность и&nbsp;долговечность
            конструкции
          </div>
        </div>
      </div>

      <div class="comfort__item comfort-item">
        <div class="comfort-item__img">
          <picture>
            <source
              srcset="./img/comfort/04-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/comfort/04.webp"
              class="image"
              width="420"
              height="160"
              alt=""
            />
          </picture>
        </div>
        <div class="comfort-item__content">
          <div class="comfort-item__fig">04</div>
          <div class="comfort-item__desc desc3">
            Фасад из&nbsp;керамогранита, адаптированного к&nbsp;приморскому
            климату.
          </div>
        </div>
      </div>

      <div class="comfort__item comfort-item">
        <div class="comfort-item__img">
          <picture>
            <source
              srcset="./img/comfort/05-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/comfort/05.webp"
              class="image"
              width="420"
              height="160"
              alt=""
            />
          </picture>
        </div>
        <div class="comfort-item__content">
          <div class="comfort-item__fig">05</div>
          <div class="comfort-item__desc desc3">
            Уникальные квартиры с отдельными входами на первом этаже
          </div>
        </div>
      </div>

      <div class="comfort__item comfort-item">
        <div class="comfort-item__img">
          <picture>
            <source
              srcset="./img/comfort/06-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/comfort/06.webp"
              class="image"
              width="420"
              height="160"
              alt=""
            />
          </picture>
        </div>
        <div class="comfort-item__content">
          <div class="comfort-item__fig">06</div>
          <div class="comfort-item__desc desc3">
            Удобный паркинг и круглосуточное видеонаблюдение.
          </div>
        </div>
      </div>

      <div class="comfort__item comfort-item">
        <div class="comfort-item__img">
          <picture>
            <source
              srcset="./img/comfort/07-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/comfort/07.webp"
              class="image"
              width="420"
              height="160"
              alt=""
            />
          </picture>
        </div>
        <div class="comfort-item__content">
          <div class="comfort-item__fig">07</div>
          <div class="comfort-item__desc desc3">
            Современные детские и спортивные площадки, продуманное озеленение.
          </div>
        </div>
      </div>

      <div class="comfort__item comfort-item">
        <div class="comfort-item__img">
          <picture>
            <source
              srcset="./img/comfort/08-mob.webp"
              media="(max-width: 600px)"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="./img/comfort/08.webp"
              class="image"
              width="420"
              height="160"
              alt=""
            />
          </picture>
        </div>
        <div class="comfort-item__content">
          <div class="comfort-item__fig">08</div>
          <div class="comfort-item__desc desc3">
            Дизайнерская отделка мест общего пользования.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
