<section class="faq">
  <div class="container">
    <h2 class="title-xl faq__title centered">Ответы на&nbsp;вопросы</h2>

    <div class="faq__items">
      <div class="faq__col">
        <div class="faq__item faq-item">
          <div class="faq-item__header">
            <p class="faq-item__capture desc1">Вопрос?</p>
            <button class="faq-item__btn btn-reset">
              <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26 2.5L14 14.5L2 2.5" stroke-width="3" />
              </svg>
            </button>
          </div>
          <div class="faq-item__content">
            <div class="faq-item__text">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                animi praesentium magnam rem perspiciatis vero consequatur
                asperiores. Iste, voluptatum perferendis.
              </p>
            </div>
          </div>
        </div>
        <div class="faq__item faq-item">
          <div class="faq-item__header">
            <p class="faq-item__capture desc1">Вопрос?</p>
            <button class="faq-item__btn btn-reset">
              <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26 2.5L14 14.5L2 2.5" stroke-width="3" />
              </svg>
            </button>
          </div>
          <div class="faq-item__content">
            <div class="faq-item__text">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                animi praesentium magnam rem perspiciatis vero consequatur
                asperiores. Iste, voluptatum perferendis.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq__col">
        <div class="faq__item faq-item">
          <div class="faq-item__header">
            <p class="faq-item__capture desc1">Вопрос?</p>
            <button class="faq-item__btn btn-reset">
              <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26 2.5L14 14.5L2 2.5" stroke-width="3" />
              </svg>
            </button>
          </div>
          <div class="faq-item__content">
            <div class="faq-item__text">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                animi praesentium magnam rem perspiciatis vero consequatur
                asperiores. Iste, voluptatum perferendis.
              </p>
            </div>
          </div>
        </div>
        <div class="faq__item faq-item">
          <div class="faq-item__header">
            <p class="faq-item__capture desc1">Вопрос?</p>
            <button class="faq-item__btn btn-reset">
              <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26 2.5L14 14.5L2 2.5" stroke-width="3" />
              </svg>
            </button>
          </div>
          <div class="faq-item__content">
            <div class="faq-item__text">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                animi praesentium magnam rem perspiciatis vero consequatur
                asperiores. Iste, voluptatum perferendis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
