<section class="gallery">
  <div class="container">
    <a href="#" class="back-btn link-btn">
      <svg class="">
        <use xlink:href="img/sprite.svg#arr-back"></use>
      </svg>

      Назад
    </a>

    <h1 class="title-xml gallery__title">Галерея</h1>

    <div class="gallery__items">
      <div class="gallery__item g-item">
        <div class="g-item__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/gallery/01-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/gallery/01.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/gallery/01-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/gallery/01.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="g-item__content">
          <p class="g-item__capture desc1">Общие фото</p>

          <div class="g-item__control">
            <button class="btn-reset g-item__arr g-item__arr_left">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
            <button class="btn-reset g-item__arr g-item__arr_right">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="gallery__item g-item">
        <div class="g-item__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/gallery/02-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/gallery/02.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/gallery/02-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/gallery/02.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="g-item__content">
          <p class="g-item__capture desc1">Подъезд</p>

          <div class="g-item__control">
            <button class="btn-reset g-item__arr g-item__arr_left">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
            <button class="btn-reset g-item__arr g-item__arr_right">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="gallery__item g-item">
        <div class="g-item__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/gallery/03-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/gallery/03.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/gallery/03-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/gallery/03.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="g-item__content">
          <p class="g-item__capture desc1">Лифты и общие зоны</p>

          <div class="g-item__control">
            <button class="btn-reset g-item__arr g-item__arr_left">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
            <button class="btn-reset g-item__arr g-item__arr_right">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="gallery__item g-item">
        <div class="g-item__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/gallery/04-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/gallery/04.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="g-item__img">
                <picture>
                  <source
                    srcset="./img/gallery/04-mob.webp"
                    media="(max-width: 600px)"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="./img/gallery/04.webp"
                    class="image"
                    width="880"
                    height="535"
                    alt=""
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="g-item__content">
          <p class="g-item__capture desc1">Вид из окна</p>

          <div class="g-item__control">
            <button class="btn-reset g-item__arr g-item__arr_left">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
            <button class="btn-reset g-item__arr g-item__arr_right">
              <svg class="">
                <use xlink:href="img/sprite.svg#control-left"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
