<section class="hero">
  <div class="container">
    <h1 class="title-xxl hero__title">жилой комплекс береговой</h1>
    <div class="hero__container">
      <div class="hero__img">
        <picture>
          <source srcset="./img/hero.webp" media="(max-width: 600px)" type="image/webp">
          <img src="./img/hero.webp" width="1920" height="600" alt="">
        </picture>
      </div>
      <p class="hero__desc hero__desc_top-left desc1">
        Погрузитесь в атмосферу гармонии и современного стиля, где природа встречается с городской жизнью.
      </p>
      <p class="hero__desc hero__desc_bottom-right desc1">Большой камень, ул. Ленина, д. 14</p>
    </div>
  </div>
</section>