<div class="fmenu" data-menu>
  <div class="fmenu__body">
    <nav class="nav fmenu__nav">
      <ul>
        <li>
          <a href="#">Галерея</a>
        </li>
        <li>
          <a href="#">Новости</a>
        </li>
        <li>
          <a href="#">Ход строительства</a>
        </li>
        <li>
          <a href="#">Квартиры</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="fmenu__row">
      <a href="#" target="_blank" class="fmenu__soc soc">
        <img src="./img/whatsapp.webp" alt="" />
      </a>
      <a href="#" target="_blank" class="fmenu__soc soc">
        <img src="./img/tel.webp" alt="" />
      </a>
      <button
        class="btn btn-reset fmenu__btn btn_small"
        data-graph-path="contact"
      >
        Связаться с нами
      </button>
    </div>
  </div>
</div>
