<section class="more">
  <div class="container">
    <div class="more__header">
      <h2 class="title-xl more__title">Подробнее</h2>

      <div class="more__control">
        <button class="more__btn more__btn--prev btn-reset">
          <svg
            width="12"
            height="20"
            viewBox="0 0 12 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.5 19.3594L1.5 10.3594L11.5 1.35937"
              stroke-width="1.5"
            />
          </svg>
        </button>
        <button class="more__btn more__btn--next btn-reset">
          <svg
            width="12"
            height="20"
            viewBox="0 0 12 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.5 19.3594L1.5 10.3594L11.5 1.35937"
              stroke-width="1.5"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="more__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="more__slide more-item">
          <div class="more-item__img">
            <picture>
              <source
                srcset="./img/more/01-mob.webp"
                media="(max-width: 600px)"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="./img/more/01.webp"
                class="image"
                width="900"
                height="580"
                alt=""
              />
            </picture>
          </div>

          <div class="more-item__content">
            <h4 class="title-xl more-item__title">Квартиры</h4>
            <div class="more-item__desc desc2">
              <p>
                Площади квартир варьируются
                от&nbsp;35,1&nbsp;до&nbsp;79,7&nbsp;м², удовлетворяя потребности
                как&nbsp;небольших семей,&nbsp;так&nbsp;и&nbsp;тех,
                кто&nbsp;предпочитает более просторное жильё. Комплекс
                предоставляет возможность объединения квартир для&nbsp;создания
                ещё&nbsp;более просторного и&nbsp;функционального пространства,
                позволяя жителям обустроить своё жильё в&nbsp;соответствии
                с&nbsp;личными предпочтениями и&nbsp;потребностями.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="more__slide more-item">
          <div class="more-item__img">
            <picture>
              <source
                srcset="./img/more/02-mob.webp"
                media="(max-width: 600px)"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="./img/more/02.webp"
                class="image"
                width="900"
                height="580"
                alt=""
              />
            </picture>
          </div>

          <div class="more-item__content">
            <h4 class="title-xl more-item__title">БЕЗОПАСНОСТЬ</h4>
            <div class="more-item__desc desc2">
              <p>
                Рядом с&nbsp;домом предусмотрен удобный паркинг, обеспечивающий
                безопасность и удобство для всех жителей. На&nbsp;территории
                комплекса ведется круглосуточное видеонаблюдение, что создает
                дополнительное спокойствие и уверенность в безопасности.
                Придомовая территория благоустроена современными детскими и
                спортивными площадками, а&nbsp;также продуманным озеленением,
                создающим уютную атмосферу для отдыха и прогулок.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="more__slide more-item">
          <div class="more-item__img">
            <picture>
              <source
                srcset="./img/more/03-mob.webp"
                media="(max-width: 600px)"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="./img/more/03.webp"
                class="image"
                width="900"
                height="580"
                alt=""
              />
            </picture>
          </div>

          <div class="more-item__content">
            <h4 class="title-xl more-item__title">ФАСАД</h4>
            <div class="more-item__desc desc2">
              <p>
                Фасад здания выполнен из&nbsp;керамогранита, адаптированного
                к&nbsp;приморскому климату, что&nbsp;обеспечивает не&nbsp;только
                современный внешний вид, но&nbsp;и&nbsp;высокую долговечность
                и&nbsp;устойчивость к&nbsp;погодным условиям. На&nbsp;первых
                этажах расположены квартиры с&nbsp;отдельными входами,
                что&nbsp;создаёт ощущение уединённости, характерное
                для&nbsp;частных домов в&nbsp;городской среде.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="more__slide more-item">
          <div class="more-item__img">
            <picture>
              <source
                srcset="./img/more/04-mob.webp"
                media="(max-width: 600px)"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="./img/more/04.webp"
                class="image"
                width="900"
                height="580"
                alt=""
              />
            </picture>
          </div>

          <div class="more-item__content">
            <h4 class="title-xl more-item__title">ПРОСТРАНСТВО</h4>
            <div class="more-item__desc desc2">
              <p>
                Дизайнерская отделка мест общего пользования придает комплексу
                стиль и элегантность, создавая приятную атмосферу с&nbsp;первых
                шагов в здание. "Береговой" — это дом, где каждая деталь
                тщательно продумана, чтобы обеспечить вам и вашей семье
                комфортное и уютное проживание на долгие годы
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
