<section class="news">
  <div class="container">
    <div class="news__header">
      <h2 class="title-xl news__title">последние события</h2>
      <p class="subtitle-xl news__subtitle link-btn">
        <a href="#">Новости</a>
      </p>
    </div>

    <div class="news__items">
      <article class="news__item news-item">
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__info">
          <p class="news-item__capture desc3">
            Работы БК<br />новость<br />
            такая
          </p>
        </div>
      </article>
      <article class="news__item news-item">
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__info">
          <p class="news-item__capture desc3">
            Работы БК<br />новость<br />
            такая
          </p>
        </div>
      </article>
      <article class="news__item news-item">
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__info">
          <p class="news-item__capture desc3">
            Работы БК<br />новость<br />
            такая
          </p>
        </div>
      </article>
    </div>
    <div class="news__bottom centered">
      <a href="#" class="btn btn-reset btn_masked news__link"> все новости </a>
    </div>
  </div>
</section>
