<section class="news-main">
  <div class="container">
    <a href="#" class="back-btn link-btn">
      <svg class="">
        <use xlink:href="img/sprite.svg#arr-back"></use>
      </svg>

      Назад
    </a>

    <h1 class="title-xml gallery__title">Новости</h1>

    <div class="news-main__items">
      <article class="news__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__info">
          <p class="news-item__capture desc3">
            Работы БК<br />новость<br />
            такая
          </p>
        </div>
      </article>
      <article class="news__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__info">
          <p class="news-item__capture desc3">
            Работы БК<br />новость<br />
            такая
          </p>
        </div>
      </article>
      <article class="news__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__info">
          <p class="news-item__capture desc3">
            Работы БК<br />новость<br />
            такая
          </p>
        </div>
      </article>

      <article class="news__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__info">
          <p class="news-item__capture desc3">
            Работы БК<br />новость<br />
            такая
          </p>
        </div>
      </article>
      <article class="news__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__info">
          <p class="news-item__capture desc3">
            Работы БК<br />новость<br />
            такая
          </p>
        </div>
      </article>
      <article class="news__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__info">
          <p class="news-item__capture desc3">
            Работы БК<br />новость<br />
            такая
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
