<section class="possible">
  <div class="container">
    <div class="possible__header">
      <h2 class="title-xl possible__title">простор возможностей</h2>
      <p class="possible__subtitle subtitle-xl">Планы этажей и планировки</p>
    </div>

    <div class="possible__grid">
      <div class="possible__slider possible__slider_main">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="pos-item possible__item">
                <div class="pos-item__capture">Этаж - 1</div>
                <div class="pos-item__img">
                  <img src="./img/possible/01.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="pos-item possible__item">
                <div class="pos-item__capture">Этаж - 1</div>
                <div class="pos-item__img">
                  <img src="./img/possible/01.webp" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="control control_dark possible__control">
            <div class="control-btn control-btn_prev poss-prev"></div>
            <div class="pagination possible__pagination poss-pagination"></div>
            <div class="control-btn control-btn_next poss-next"></div>
          </div>
        </div>
      </div>

      <div class="possible__slider possible__slider_sec">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="pos-item possible__item">
                <div class="pos-item__img">
                  <img src="./img/possible/02.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="pos-item possible__item">
                <div class="pos-item__img">
                  <img src="./img/possible/02.webp" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="control control_dark possible__control">
            <div class="control-btn control-btn_prev poss-sec-prev"></div>
            <div
              class="pagination possible__pagination poss-sec-pagination"
            ></div>
            <div class="control-btn control-btn_next poss-sec-next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
